{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
  
<!-- Heading Row-->
<div class="row gx-4 gx-lg-5 align-items-center my-5">
  <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/record-store.webp' %}" alt="..." /></div>
  <div class="col-lg-5">
      <h1 class="font-weight-light">Hexagram Disquería</h1>
      <p>Disquería especializada en vinilos, boxsets, simples, insumos para bandejas giradiscos y mucho más!</p>
      <a class="btn btn-success" href="https://wa.me/54911223426789" target="_blank">Whatsapp</a>
  </div>
</div>
</div>

{% endblock contenido %}